body{
  text-align: center;
}

.productContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productContainer > .link {
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px #463636;
  margin: 10px;
  justify-content: center;
}

.productContainer > .link:hover {
  box-shadow: 5px 5px 15px skyblue;
}

img:hover{
  box-shadow: 5px 5px 15px black;
}



